<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBccQsL23kzrGl_bBcunzDTx41Jgf0yuKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>930829754955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerb.gunluogluproje</string>
	<key>PROJECT_ID</key>
	<string>gunluoglugiris</string>
	<key>STORAGE_BUCKET</key>
	<string>gunluoglugiris.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930829754955:ios:e490ab6498f3b7b2b023ce</string>
	<key>DATABASE_URL</key>
	<string>https://gunluoglugiris-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>